@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
:root {
    /* Colores */
    --primary-color: #d4d4d4;
    --secondary-color: #2e2e2e;
    --accent-color: #ff6200;

    --positive-color: #008000;
    --secun-positive-color: #005300;
    --negative-color: #ff0000;
    --secun-negative-color: #9f0000;
    
    --bg-main: #000000;
    --bg-card: #000000;
    
    --text-main: #000000;
    --text-muted: #000000;
    --text-light: #ffffff;

    --success: #000000;
    --error: #000000;
    --warning: #000000;

    /* Espaciado */
    --spacing-xs: 4px;
    --spacing-sm: 8px;
    --spacing-md: 16px;
    --spacing-lg: 24px;
    --spacing-xl: 32px;

    /* Bordes y Sombras */
    --radius-sm: 4px;
    --radius-md: 8px;
    --radius-lg: 12px;
    --shadow-soft: 0 2px 4px rgba(0,0,0,0.1);
}